.hero {
  display: grid;
  grid-template-columns: 38% 62%;
  background-color: $very-light-gray;
  padding-right: 0;
  position: relative;

  &__description {
    order: 0;
    align-self: center;
    padding-right: calc(7rem - 1 * vw);
  }

  &__image-container {
    order: 1;
    max-height: 100%;
    position: relative;
    background: url("../assets/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: left center;
    overflow-x: clip;
  }

  &__image {
    position: absolute;
    left: 23%;
    top: -4rem;
    width: 100%;
    max-width: 700px;
  }
}
