.hero {
  display: grid;
  grid-template-columns: 38% 62%;
  background-color: $very-light-gray;
  padding-right: 0;
  position: relative;

  &__description {
    align-self: center;
  }

  &__image-container {
    min-height: 100%;
    position: relative;
    background: url("../assets/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: left center;
    overflow-x: clip;
  }

  &__image {
    position: absolute;
    left: 23%;
    top: -4rem;
    width: 100%;
    max-width: 700px;
  }
}

@media only screen and (max-width: $large) {
  .hero {
    grid-template-columns: 34% 66%;
    &__image-container {
      background-position: left center;
      background-size: cover;
    }

    &__image {
      max-width: auto;
      width: 100%;
      top: 2%;
    }
  }
}

@media only screen and (max-width: $medium) {
  .hero {
    grid-template-columns: 1fr;

    &__image-container {
      grid-row: 1;
    }

    &__image {
      position: static;
      display: block;
      height: 75vw;
      width: auto;
      max-width: 500px;
      margin: 0 auto;
      margin-top: -8%;
    }
  }
}
