//PAGE RESETTING
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  // border: 1px solid red;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  margin: 0 auto;
}

//GENERAL STYLES
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 0.2rem;

  &:focus {
    border: 3px solid black;
  }
}

ul {
  list-style: none;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

section {
  min-height: $section-height;
  width: 100%;
}
