header,
section,
footer {
  padding: $desktop-x-large-padding;
  max-width: 192rem;
  margin: 0 auto;
}

header {
  background-color: white;
  position: fixed;
  z-index: 4;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.features {
  background-color: $light-grayish-blue;
  @include grid-center;
}

.articles {
  background-color: $very-light-gray;
  @include grid-center;
}

@media only screen and (max-width: $v-large) {
  header,
  section,
  footer {
    padding: $desktop-v-large-padding;
  }
}

@media only screen and (max-width: $large) {
  header,
  section,
  footer {
    padding: $desktop-large-padding;
  }

  .features,
  .articles {
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: $small) {
  header,
  section,
  footer {
    padding: 0 2.4rem;
  }

  .features,
  .articles {
    text-align: center;
  }
}
