.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0); //clip property applies only on positioned elements
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.mb-small {
  margin-bottom: 2rem;
}
